.App{
    padding: 20px;
  }

  h1{
    padding-left: 600px;
    justify-self: center;
  }

  body{
    background-color:whitesmoke;
  }

  input{
    display: block;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
  }
  
  button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: grey;
  }
  
  h2{
    margin-top: 20px;
    padding-left: 20px;
  }
  
  div{
    margin-bottom: 20px;
  }
  