<script>
    window.onload=function() {
      window.opener.postMessage('requestEmployees', '*');
    };
    
    window.addEventListener('message',(event)=>{
      if (Array.isArray(event.data)) {
        const tableBody = ocument.querySelector('#employeeTable tbody');
        tableBody.innerHTML='';
        event.data.forEach(employee=>{
          const row=tableBody.insertRow();
          row.insertCell(0).innerText=employee.name;
          row.insertCell(1).innerText=employee.email;
          row.insertCell(2).innerText=employee.gender;
          row.insertCell(3).innerText=employee.phone;
          row.insertCell(4).innerText=employee.position;
          row.insertCell(5).innerText=employee.id;});
      }
    });
  </script>
  